fastapi
uvicorn[standard]

pymongo
python-dotenv
groq

langchain
langchain-core
langchain-groq
langgraph

chromadb
langchain-chroma
sentence-transformers

pydantic

passlib[bcrypt]
python-jose[cryptography]