fastapi
uvicorn[standard]

pymongo
python-dotenv
groq

langchain
langchain-core
langchain-groq
langgraph

chromadb
langchain-chroma
sentence-transformers

pydantic

passlib==1.7.4
bcrypt==4.3.0
python-jose[cryptography]