fastapi
uvicorn[standard]

pymongo
python-dotenv
groq
anthropic

langchain
langchain-core
langchain-community
langchain-anthropic
langgraph

chromadb
langchain-chroma
sentence-transformers

pydantic

passlib[bcrypt]
python-jose[cryptography]